.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .indent {
    text-indent: 1%;
  }
  img {
    max-width: 100%;
    height: auto;
    width: auto9;
  }
  .center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 50px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .completed {
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
  }
  .heading-font {
    font-family: Brush Script MT,cursive; 
    font-size: 49px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 53.9px;
  }
  .noHover{
    pointer-events: none;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  .clearfix {
    overflow: auto;
  }
  .center-vertical {
    padding-top: 50%;
    vertical-align: middle;
    text-align: center;
  }